img{
    width:50%;
    height:50%;
    float:right;
    margin-right: 100px;
    margin-bottom: 300px;
    align-self: baseline;
}

.menuButtons{
    margin-bottom: 20px;
    background-color:deepskyblue;
    font-size:30px;
    cursor: pointer;
    vertical-align:sub;
    display: inline-block;

}
input[id=status] {
    height: 50px;
    width: 200px;
    background-color: rgb(61, 185, 61);
    border: none;
    font-size: 35px;
    font-weight: bold;
    color: black;
}

label[for=status] {
    font-size: 35px;
    margin-bottom: 100px;
    border: none;
}

.timer{
    margin-top: 50px;
    margin-bottom: 50px;
}

input[id=time] {
    height: 50px;
    width: 200px;
    background-color: rgb(61, 185, 61);
    border: none;
    font-size: 35px;
    font-weight: bold;
    color: black;
}

label[for=time] {
    font-size: 35px;
    margin-bottom: 100px;
    border: none;
}



input[id=nameInput]{
    margin: 10px;
    background-color:white;
    color: black;
    font-size: 15px;
    padding: 20px;
    font-size: 30px;
    border: none;
    text-align: left;
    width: 200px;
}


.nameButtons{
    margin-left: 0 auto;
    background-color:aquamarine;
    font-size:30px;
    cursor: pointer;
    text-align: center;

}

label[for=nameInput] {
    font-size: 35px;
}



meter{
    width:400px;
    height:100px;
    color:white;
}

meter::after{
    content: attr(value);
    position: relative;
    font-size: x-large;
}

label[class=wellLabel] {
    font-size: xx-large;
    font-weight: bolder;
    vertical-align: top;
    margin-bottom: 10px;

}

.wellbeing {
    vertical-align:middle;
    display: inline-block;
    text-align: justify;
    width: 500px;
    margin-right:10px;
    margin-bottom: 50px;
    width: 500px;
    
}

button[class=meterButtons] {
    margin-left: 20px;
    background-color:aquamarine;
    font-size:30px;
    cursor: pointer;
    display: inline-block;
}